.button {
    border: 3px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        color: black;
        background-color: white;
    }
}